<div class="row">
  <div class="col-lg-3 col-sm-12">
    <div class="form-group">
      <label for="groupName">Group Name</label>

      <input type="text" class="form-control" id="groupName" aria-describedby="groupNameHelp" [(ngModel)]="searchElement.name"
        #name="ngModel">
      <!--<small id="groupNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

    </div>
  </div>
  <div class="col-lg-3 col-sm-12">
    <!--<div class="form-group">
        <label for="createdBy">Created By</label>
        <select class="form-control" id="createdBy">
          <option>1</option>
          <option>2</option>
        </select>
      </div>-->
    <div class="form-group">
      <label for="associatedCompaign">Created By</label>

      <input type="text" class="form-control" id="createdBy" aria-describedby="createdByHelp" [(ngModel)]="searchElement.createdBy"
        #createdBy="ngModel">
      <!--<small id="associatedCompaignHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

    </div>
  </div>
  <!--<div class="col-lg-3 col-sm-12">
      <div class="form-group">
        <label for="containsDevice">Contains Device S/N</label>
        <input type="text" class="form-control" id="containsDevice" aria-describedby="containsDeviceHelp" placeholder="Contains Device S/N" [(ngModel)]="searchElement.containsDevice">
      </div>
    </div>-->
  <!--<div class="col-lg-3 col-sm-12">
      <div class="form-group">
        <label for="associatedCompaign">Associated Campaign</label>
        <input type="text" class="form-control" id="associatedCompaign" aria-describedby="associatedCompaignHelp" placeholder="Associated Compaign" [(ngModel)]="searchElement.associatedCompaign">
      </div>
    </div>-->
</div>

<div class="row">
  <div class="col-lg-3 col-sm-12">
    <div class="form-group">
      <label for="startDateGroup">Created Between: Start date</label>
      <input type="date" class="form-control" id="startDateGroup" aria-describedby="startDateGroupHelp" [(ngModel)]="searchElement.minDate">
      <!--<small id="startDateGroupHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
  </div>
  <div class="col-lg-3 col-sm-12">
    <div class="form-group">
      <label for="endDateGroup">Created Between: End date</label>
      <input type="date" class="form-control" id="endDateGroup" aria-describedby="endDateGroupHelp" [(ngModel)]="searchElement.maxDate">
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="form-group">
      <label for="descriptionGroup">Description</label>
      <input type="text" class="form-control" id="descriptionGroup" aria-describedby="descriptionGroupHelp" [(ngModel)]="searchElement.description"
        #description="ngModel">
    </div>
  </div>
</div>

<div class="row text-center" *ngIf="!firmwareVersion">
  <div class="col-6">
    <button (click)="onRestFormClick(searchElement)" class="btn text-secondary pull-right">Cancel</button>
  </div>
  <div class="col-6">
    <button class="btn btn-primary pull-left" (click)="searchGr();dropdown.close();">Search</button>
  </div>
</div>
<div class="row" *ngIf="firmwareVersion">
  <div class="col-12">
    <button class="btn btn-primary" (click)="filterGroupByCriteria()"><i class="fa fa-search" aria-hidden="true"></i></button>&nbsp;
    <button (click)="onRestFormClick(searchElement)" class="btn text-secondary">Initialize</button>
  </div>
</div>