
<div class="container py-4" >
    <div class="card">
        <div class="card-header"> 
            <h4>connection d'un compteur</h4>
        </div>
        <div class="card-body">
            <form #form="ngForm" action="">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="compteurId" class="control-label col-sm-2">Compteur :</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input type="text" id="compteurId" class="form-control" [(ngModel)]="idCompteur" required #compteurId="ngModel" 
                                (change)="getCompteurById()" [ngbTypeahead]="search" name="test2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary loop" (click)="getCompteurById()" type="button" [disabled]= "!compteurId.valid"></button>
                                </div>
                            </div>
                            <div *ngIf="compteurId.invalid && (compteurId.dirty || compteurId.touched)"  class="alert alert-danger">
                                <div *ngIf="compteurId.errors.required">
                                    La saisie de l'identifient du compteur est obligatoire.
                                </div>
                            </div>
                            <div *ngIf="erreurCompteur != null"  class="alert alert-danger">
                                <div>
                                    {{erreurCompteur}}
                                </div>
                            </div>  
                            
                        </div>
                        <div class="form-horizontal" [ngbCollapse]="isCompteurIdVide">
                            <br>
                            <div class="form-inline">
                                <div class="form-group col-md-2">
                                    <label class="control-label ">idType:</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <span >{{compteur?.idType}} </span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label ">modelNumber:</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <span >{{compteur?.modelNumber}} </span>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group col-md-2">
                                    <label class="control-label ">pathName:</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <span >{{compteur?.pathName}} </span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label ">serialNumber:</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <span >{{compteur?.serialNumber}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label for="priorityId" class="control-label col-sm-2">Priorité :</label>
                        <div class="col-sm-5">
                            <select class="form-control" [(ngModel)]="echange.requestPriority" id="priorityId" required #priorityId="ngModel" name="test3">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                </select>
                                <div *ngIf="priorityId.invalid && (priorityId.dirty || priorityId.touched)"  class="alert alert-danger">
                                    <div *ngIf="priorityId.errors.required">
                                        La saisie de la priorité est obligatoire.
                                    </div>
                                </div>    
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="row col-sm-12">
                            <div class="col-md-4">
                                <label for="startTimeId" class="control-label ">Start time:</label>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <input id="startTimeId" class="form-control" placeholder="yyyy-mm-dd"
                                                name="dp" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker" 
                                                (change)="erreurStartTime = null" required #startDateId="ngModel" name="test4">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle();erreurStartTime = null" type="button"></button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 mb-3">
                                <ngb-timepicker [(ngModel)]="startTime" [seconds] = "true" onchange="erreurStartTime = null;" name="test6"></ngb-timepicker>
                            </div>
                        </div>
                        <div *ngIf="startDateId.invalid && (startDateId.dirty || startDateId.touched)"  class="alert alert-danger">
                            <div *ngIf="startDateId.errors.required  ">
                                La saisie du start time est obligatoire.
                            </div>
                            <div *ngIf="startDateId.errors.ngbDate!= null">
                                format invalid
                            </div>
                        </div>   
                        <div *ngIf="erreurStartTime != null"  class="alert alert-danger">
                            <div>
                                {{erreurStartTime}}
                            </div>
                        </div>   
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="row col-sm-12">
                            <div class="col-md-4">
                                <label for="ExpireTimeId" class="control-label ">Expire time:</label>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <input id="ExpireTimeId" class="form-control" placeholder="yyyy-mm-dd" (change)="erreurExpireTime = null"
                                                name="dp" [(ngModel)]="ExpireDate" ngbDatepicker #d2="ngbDatepicker" required #expireDateId="ngModel" name="test5">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle();erreurExpireTime = null;" type="button"></button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 mb-3">
                                <ngb-timepicker [(ngModel)]="ExpireTime" [seconds] = "true" onchange="erreurExpireTime = null;" name="test7"></ngb-timepicker>
                            </div>
                        </div>
                        <div *ngIf="expireDateId.invalid && (expireDateId.dirty || expireDateId.touched)"  class="alert alert-danger">
                            <div *ngIf="expireDateId.errors.required">
                                La saisie du expire time est obligatoire.
                            </div>
                            <div *ngIf="expireDateId.errors.ngbDate!= null">
                                format invalid
                            </div>
                        </div>   
                        <div *ngIf="erreurExpireTime != null"  class="alert alert-danger">
                            <div>
                                {{erreurExpireTime}}
                            </div>
                        </div>   
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <button class="btn btn-primary" (click)="saveEchange()" [disabled]= "!form.valid">Valider</button>
                    </div>
                </div>  
            </form>                   
        </div>
    </div>
</div>