<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" [ngClass]="
    {
        'purple': color == 'purple',
        'mini-sidebar': showMinisidebar
    }
">
	<!-- ============================================================== -->
	<!-- Topbar header - style you can find in pages.scss -->
	<!-- ============================================================== -->

	<app-navigation></app-navigation>
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<aside class="left-sidebar">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar" [perfectScrollbar]="config">
			<app-sidebar></app-sidebar>
		</div>
		<!-- End Sidebar scroll-->
	</aside>
	<!-- ============================================================== -->
	<!-- End Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">

		<div class="container-correct">
			<router-outlet></router-outlet>
		</div>
		<!-- ============================================================== -->
		<!-- Start Page Content -->
		<!-- ============================================================== -->
	
		<!-- ============================================================== -->
		<!-- End Start Page Content -->
		<!-- ============================================================== -->

	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<br>
	<!-- footer -->
	<!-- ============================================================== -->
	<footer class="footer text-center"> Copyright 2017 Sagemcom
		Energy Telecom SAS. ALL Rights Reserved V0.121 </footer>
	<!-- ============================================================== -->
	<!-- End footer -->
	<!-- ============================================================== -->

</div>